<mat-nav-list>
  <mat-list-item>
    list of sprint backlogs
  </mat-list-item>
  <mat-list-item *ngFor="let story of api.stories" [ngStyle]="storyStyle(story)">
    <button mat-raised-button (click)="showUserStory(story.id)">{{story.name}}
      <mat-icon>open_in_new</mat-icon>
    </button>
    <button mat-icon-button style="margin-left:auto; margin-right:0;" (click)="deleteUserStory(story.id)">
      <mat-icon>remove_circle</mat-icon>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-nav-list>

<button mat-fab color="accent" style="right:10%; bottom: 10%; top: auto; position: fixed" matTooltip="add user story"
  (click)="showUserStory('create')">
  <mat-icon>add_circle</mat-icon>
</button>