.mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
    transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
    opacity: 1 !important;
}

mat-checkbox {
    margin: 0 10px;
}

.toolbar {
    position: fixed;
    z-index: 100;
    bottom: 0;
    background-color: rgba(192, 219, 228, 0.75);
}
