<h1 mat-dialog-title>Developer for {{(api.tasks | filter: 'id' : data.id)[0].description}}</h1>
<div mat-dialog-content>
    <h2> assigned developer: </h2>
    <mat-chip-list>
        <mat-chip class="mat-chip-list-stacked" aria-orientation="vertical"
            *ngFor="let person of api.persons | filter : 'id' :assingedPerson" (click)="removePerson(person.id)"
            removable="true">
            {{person.firstName+ " " +person.lastName}}
            <mat-icon style="position: relative; left: 5px;">person_remove</mat-icon>
        </mat-chip>
    </mat-chip-list>
    <mat-divider></mat-divider>
    <h2> other developer: </h2>
    <mat-chip-list>
        <mat-chip class="mat-chip-list-stacked" aria-orientation="vertical"
            *ngFor="let person of api.persons | filter : 'id' :sparedPerson" (click)="assginPerson(person.id)"
            removable="true">
            {{person.firstName+ " " +person.lastName}}
            <mat-icon style="position: relative; left: 5px;">person_add</mat-icon>
        </mat-chip>
    </mat-chip-list>

</div>
<div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="submitForm()">update</button>
</div>