<mat-nav-list>
  <mat-list-item>
    list of developers
    <button mat-icon-button style="margin-left:auto; margin-right:0;" matTooltip="add developer"
      (click)="addDeveloper()">
      <mat-icon>person_add</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item *ngFor="let person of api.persons">
    <button mat-raised-button (click)="showDeveloper(person.id)">{{person.firstName+ " " +person.lastName}}
      <mat-icon>open_in_new</mat-icon>
    </button>
    <button mat-icon-button style="margin-left:auto; margin-right:0;" matTooltip="remove developer"
      (click)="deleteDeveloper(person.id)">
      <mat-icon>person_remove</mat-icon>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-nav-list>
<app-person-form *ngIf="isShowPersonForm" [id]="this.pid" [pjid]="this.pjid" [isNew]="this.isNewPersonForm">
</app-person-form>