<mat-toolbar color="primary" style="height: 10vh;">
  <button mat-icon-button class="example-icon" (click)="sideNavToggle=!sideNavToggle"
    aria-label="Example icon-button with menu icon" *ngIf="view =='board'">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer" style="text-align:  center;"> {{currentTitle()}}</span>
  <button mat-icon-button (click)="back()"
    *ngIf="view == 'branch2sprint' || view =='sprint' || view=='story' || view == 'board'">
    <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container style="height: 90vh;">
  <mat-sidenav mode="side" style="width: 20%" [opened]="view !='board'?true : sideNavToggle" [ngSwitch]="true">
    <mat-spinner *ngIf="!haveEntry()"></mat-spinner>
    <div *ngIf="haveEntry()">
      <mat-nav-list *ngSwitchCase="view == 'root' || view == 'project' || view == 'person' || view == 'chart' ">
        <mat-list-item>List of Projects</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Filter</mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item *ngFor="let project of api.projects" [ngStyle]="projectStyle(project)">
          <button mat-raised-button (click)="getProject(project.id)">{{project.name}}
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button mat-icon-button (click)="getAllPerson(project.id)" style="margin-left:auto; margin-right:0;"
            matTooltip="developers">
            <mat-icon>person_search</mat-icon>
          </button>
          <button mat-icon-button style="margin-left:0; margin-right:0;" matTooltip="charts">
            <mat-icon>analytics</mat-icon>
          </button>
          <button mat-icon-button (click)="getSprintAll(project.id)" style="margin-left:0; margin-right:0;"
            matTooltip="sprints">
            <mat-icon>list_alt</mat-icon>
          </button>
        </mat-list-item>

        <mat-divider></mat-divider>

        <button mat-fab color="accent" style="left:5%; bottom: 10%; top: auto;  position: fixed;"
          matTooltip="new project">
          <mat-icon>create_new_folder</mat-icon>
        </button>
      </mat-nav-list>
      <mat-nav-list *ngSwitchCase="view=='branch2sprint' || view=='sprint' || view=='story' || view=='board'">
        <mat-list-item>List of Sprints</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Filter</mat-list-item>
        <mat-divider></mat-divider>
        <mat-spinner *ngIf="!haveEntry"></mat-spinner>

        <mat-list-item *ngFor="let sprint of api.sprints[currentProjectId]" [ngStyle]="sprintStyle(sprint)">
          <span>{{sprint.slogan}}</span>
          <button mat-icon-button (click)="getAllStory(sprint.id)" style="margin-left:auto; margin-right:0;"
            matTooltip="user stories">
            <mat-icon>view_list</mat-icon>
          </button>
          <button mat-icon-button (click)="getAllTask(sprint.id)" style="margin-left:0; margin-right:0;"
            matTooltip="task board">
            <mat-icon>view_quilt</mat-icon>
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>

        <button mat-fab color="accent" style="left:5%; bottom: 10%; top: auto; position: fixed;"
          matTooltip="new sprint">
          <mat-icon>library_add_check</mat-icon>
        </button>
      </mat-nav-list>


    </div>

  </mat-sidenav>

  <mat-sidenav-content [ngSwitch]="view">
    <mat-spinner *ngIf="!haveContent()"></mat-spinner>
    <div *ngIf="haveContent()">
      <div *ngSwitchCase="'project'">
        <form formGroupName="projectForm">
          <mat-form-field>
            <mat-label>ID: </mat-label>
            <input type="text" formControlName="id" matInput [value]="filter(api.projects, currentProjectId)[0].id">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Name: </mat-label>
            <input type="text" formControlName="name" matInput [value]="filter(api.projects, currentProjectId)[0].name">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Description: </mat-label>
            <input type="text" formControlName="description" matInput
              [value]="filter(api.projects, currentProjectId)[0].description">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Creation: </mat-label>
            <input type="text" matInput formControlName="creation"
              [value]="filter(api.projects, currentProjectId)[0].creationDate">
          </mat-form-field>
        </form>
        <button mat-fab color="accent" style="right:5%; bottom: 10%; top: auto; position: fixed;"
          matTooltip="add developer">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div *ngSwitchCase="'person'">
        <mat-nav-list>
          <mat-list-item>
            list of developers
          </mat-list-item>
          <mat-list-item *ngFor="let person of api.persons[currentProjectId]" [ngStyle]="personStyle(person)">
            <button mat-raised-button>{{person.firstName+ " " +person.lastName}}
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-icon-button style="margin-left:auto; margin-right:0;" matTooltip="remove developer">
              <mat-icon>person_remove</mat-icon>
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <button mat-fab color="accent" style="right:5%; bottom: 10%; top: auto; position: fixed;"
            matTooltip="add developer">
            <mat-icon>person_add</mat-icon>
          </button>
        </mat-nav-list>

      </div>

      <div *ngSwitchCase="'story'">
        <mat-nav-list>
          <mat-list-item>
            list of user stories
          </mat-list-item>
          <mat-list-item *ngFor="let story of api.stories[currentSprintId]" [ngStyle]="storyStyle(story)">
            <button mat-raised-button>{{story.name}}
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-icon-button style="margin-left:auto; margin-right:0;">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <button mat-fab color="accent" style="right:5%; bottom: 10%; top: auto; position: fixed;"
            matTooltip="add user story">
            <mat-icon>note_add</mat-icon>
          </button>
        </mat-nav-list>

      </div>

    </div>
    <!-- <div *ngSwitchCase="'board'">
      <div cdkDropListGroup>
        <div cdkDropList>
          <div *ngFor="let story in api.stories" [ngStyle]="storyBoardStyle(story)" cdkDrag>

          </div>
        </div>
      </div>

      <div cdkDropListGroup>
        <div cdkDropList>
          <div *ngFor="let story in api.stories" [ngStyle]="storyBoardStyle(story)" cdkDrag>

          </div>
        </div>
        <div cdkDropList>
          <div *ngFor="let task in api.tasks" [ngStyle]="taskBoardStyle(task)" cdkDrag>

          </div>
        </div>
      </div>
    </div> -->


    <div *ngSwitchDefault>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>