<mat-toolbar color="primary" style="height: 10vh;">
  <button mat-icon-button class="example-icon" (click)="sideNavToggle=!sideNavToggle"
    aria-label="Example icon-button with menu icon" *ngIf="view =='board'">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer" style="text-align:  center;"> {{Title()}}</span>
  <button mat-icon-button (click)="back()" *ngIf="view != 'root'">
    <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container style="height: 90vh;">
  <mat-sidenav mode="side" style="width: 20%" [opened]="view !='board'?true : sideNavToggle" [ngSwitch]="true">
    <mat-spinner *ngIf="!haveEntry()"></mat-spinner>
    <div *ngIf="haveEntry()">
      <mat-nav-list *ngSwitchCase="view == 'root' || view == 'project' || view == 'person' || view == 'chart' ">
        <mat-list-item>List of Projects</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Filter</mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item *ngFor="let project of api.projects" [ngStyle]="projectStyle(project)">
          <button mat-raised-button (click)="getProject(project.id)">{{project.name}}
            <mat-icon>login</mat-icon>
          </button>
          <button mat-icon-button (click)="getProjectPerson(project.id)" style="margin-left:auto; margin-right:0;"
            matTooltip="developers">
            <mat-icon>person_search</mat-icon>
          </button>
          <button mat-icon-button (click)="getChart(project.id)" style="margin-left:0; margin-right:0;"
            matTooltip="charts">
            <mat-icon>analytics</mat-icon>
          </button>
          <button mat-icon-button (click)="getProjectSprint(project.id)" style="margin-left:0; margin-right:0;"
            matTooltip="sprints">
            <mat-icon>list_alt</mat-icon>
          </button>
        </mat-list-item>

        <mat-divider></mat-divider>

        <button mat-fab color="accent" style="left:5%; bottom: 10%; top: auto;  position: fixed;"
          matTooltip="new project">
          <mat-icon>create_new_folder</mat-icon>
        </button>
      </mat-nav-list>
      <mat-nav-list *ngSwitchCase="view=='branch2sprint' || view=='sprint' || view=='story' || view=='board'">
        <mat-list-item>List of Sprints</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Filter</mat-list-item>
        <mat-divider></mat-divider>
        <mat-spinner *ngIf="!haveEntry"></mat-spinner>

        <mat-list-item *ngFor="let sprint of api.sprints" [ngStyle]="sprintStyle(sprint)">
          <button mat-raised-button>{{sprint.slogan}}
            <mat-icon>login</mat-icon>
          </button>
          <button mat-icon-button (click)="getSprintStory(sprint.id)" style="margin-left:auto; margin-right:0;"
            matTooltip="user stories">
            <mat-icon>view_list</mat-icon>
          </button>
          <button mat-icon-button (click)="getSprintTask(sprint.id)" style="margin-left:0; margin-right:0;"
            matTooltip="task board">
            <mat-icon>view_quilt</mat-icon>
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>

        <button *ngIf="view!='board'" mat-fab color="accent" style="left:5%; bottom: 10%; top: auto; position: fixed;"
          matTooltip="new sprint">
          <mat-icon>library_add_check</mat-icon>
        </button>
      </mat-nav-list>


    </div>

  </mat-sidenav>

  <mat-sidenav-content [ngSwitch]="view">
    <mat-spinner *ngIf="!haveContent()"></mat-spinner>
    <div *ngIf="haveContent()">
      <div *ngSwitchCase="'project'">
        <app-project-overview></app-project-overview>
      </div>
      <div *ngSwitchCase="'person'">
        <mat-nav-list>
          <mat-list-item>
            list of developers
          </mat-list-item>
          <mat-list-item *ngFor="let person of api.persons" [ngStyle]="personStyle(person)">
            <button mat-raised-button>{{person.firstName+ " " +person.lastName}}
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-icon-button style="margin-left:auto; margin-right:0;" matTooltip="remove developer">
              <mat-icon>person_remove</mat-icon>
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <button mat-fab color="accent" style="right:5%; bottom: 10%; top: auto; position: fixed;"
            matTooltip="add developer">
            <mat-icon>person_add</mat-icon>
          </button>
        </mat-nav-list>
      </div>
      <div *ngSwitchCase="'chart'" style="width: 100%; height: 90vh;">
        <app-chart></app-chart>
      </div>

      <div *ngSwitchCase="'story'">
        <mat-nav-list>
          <mat-list-item>
            list of user stories
          </mat-list-item>
          <mat-list-item *ngFor="let story of api.stories" [ngStyle]="storyStyle(story)">
            <button mat-raised-button>{{story.name}}
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-icon-button style="margin-left:auto; margin-right:0;">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <button mat-fab color="accent" style="right:5%; bottom: 10%; top: auto; position: fixed;"
            matTooltip="add user story">
            <mat-icon>note_add</mat-icon>
          </button>
        </mat-nav-list>

      </div>

    </div>
    <div *ngSwitchCase="'board'">
      <app-board></app-board>
    </div>



    <div *ngSwitchDefault>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>