<mat-card *ngIf="form">
    <mat-card-content>
        <form [formGroup]="form">
            <mat-form-field>
                <mat-label>Name: </mat-label>
                <input [readonly]="!edit" matInput formControlName="name">
                <mat-error *ngIf="form.get('name').invalid">
                    {{form.get('name').hasError('required')?'required':''}}
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Description: </mat-label>
                <input [readonly]="!edit" matInput formControlName="description">
                <mat-error *ngIf="form.get('description').invalid">
                    {{form.get('description').hasError('required')?'required':''}}
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field mattooltip="if it is empty">
                <mat-label>Start Date: </mat-label>
                <input [readonly]='!edit' type="text" matInput formControlName="startDate" [matDatepicker]="picker1">
                <mat-datepicker-toggle [disabled]="!edit" matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf=" form.get('startDate').invalid">
                    {{form.get('startDate').hasError('required')?'required':''}}
                </mat-error>
            </mat-form-field>
            <br>
        </form>
        <form [formGroup]="dummyForm" *ngIf="!isNew">
            <mat-form-field>
                <mat-label>ID: </mat-label>
                <input readonly type="text" matInput formControlName="id">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Creation Date: </mat-label>
                <input readonly type="text" matInput formControlName="creationDate" [matDatepicker]="picker">
                <mat-datepicker-toggle disabled matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions [matTooltip]="(!form.valid || !dummyForm.valid)?'the form is not valid':''">
        <button [disabled]="!form.valid" *ngIf="edit" mat-button cdkFocusInitial
            (click)="isNew?create():update()">submit</button>
        <button mat-button cdkFocusInitial *ngIf="!edit"
            (click)="edit = true; form.enable({ onlySelf: true })">edit</button>
    </mat-card-actions>
    <button mat-fab color="accent" style="right:10%; bottom: 10%; top: auto; position: fixed"
        matTooltip="remove project" (click)="removeProject(this.api.currentProjectId)" *ngIf="!isNew">
        <mat-icon>delete</mat-icon>
    </button>
</mat-card>