<form [formGroup]="projectForm">
    <mat-form-field>
        <mat-label>ID: </mat-label>
        <input type="text" formControlName="id" matInput>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Name: </mat-label>
        <input type="text" formControlName="name" matInput>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Description: </mat-label>
        <input type="text" formControlName="description" matInput>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Creation: </mat-label>
        <input type="text" matInput formControlName="creation" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</form>
