<form [formGroup]="projectForm">
    <mat-form-field>
        <mat-label>ID: </mat-label>
        <input type="text" formControlName="id" matInput [value]="this.api.currentProject.id">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Name: </mat-label>
        <input type="text" formControlName="name" matInput [value]="this.api.currentProject.name">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Description: </mat-label>
        <input type="text" formControlName="description" matInput [value]="this.api.currentProject.description">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Creation: </mat-label>
        <input type="text" matInput formControlName="creation" [value]="this.api.currentProject.creationDate">
    </mat-form-field>
</form>
<button mat-fab color="accent" style="right:5%; bottom: 10%; top: auto; position: fixed;" matTooltip="add developer">
    <mat-icon>edit</mat-icon>
</button>