<h1 mat-dialog-title>New task for {{(api.stories | filter: 'id' : data.id)[0].name}}</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Description of the new task</mat-label>
      <input matInput formControlName="description">
      <mat-error *ngIf="form.get('description').invalid">{{form.get('description').hasError('required')?'required':''}}
      </mat-error>
    </mat-form-field>
  </form>

</div>
<div mat-dialog-actions [matTooltip]="(!form.valid)?'the form is not valid':''">
  <button [disabled]="!form.valid" mat-button cdkFocusInitial (click)="submitForm()">submit</button>
</div>