<h1 mat-dialog-title>Issue details:</h1>
<div mat-dialog-content>
    <p>Task commencement: {{(api.tasks | filter : 'id' : data.tkid)[0].commencement}}<br>
        ({{(api.tasks | filter : 'id' : data.tkid)[0].duration}} hrs)</p>
    <p>Project cost per hour: {{api.currentProject.cost}}</p>
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Issue description</mat-label>
            <input matInput formControlName="description" [readonly]="!edit">
            <mat-error *ngIf="form.get('description').invalid">
                {{form.get('description').hasError('required')?'required':''}}
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Issue commencement</mat-label>
            <input type='number' matInput formControlName="commencement" [readonly]="!edit">
            <mat-error *ngIf="form.get('commencement').invalid">
                {{form.get('commencement').hasError('min')?'The commencement hour must be non-negative':''}}
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Duration: </mat-label>
            <input type="text" matInput formControlName="duration" [readonly]="!edit">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Issue cost</mat-label>
            <input type='number' matInput formControlName="cost" [readonly]="!edit">
            <mat-error *ngIf="form.get('cost').invalid">
                {{form.get('cost').hasError('min')?'The cost must be non-negative':''}}
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-chip-list #chipList formControlName="category">
                <mat-chip *ngFor="let cat of form.get('category').value" [removable]="edit" (removed)="removeCat(cat)">
                    {{cat}}<mat-icon matChipRemove *ngIf="edit">cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
            <input [matChipInputFor]="chipList" (matChipInputTokenEnd)="assignCat($event)" matChipInputAddOnBlur
                [readonly]="!edit">
        </mat-form-field>
    </form>
    <form [formGroup]="dummyForm">
        <mat-form-field>
            <mat-label>Creation Date: </mat-label>
            <input type="text" matInput formControlName="creation" [matDatepicker]="picker" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker" disabled></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>ID: </mat-label>
            <input type="text" matInput formControlName="id" readonly>
        </mat-form-field>
    </form>

</div>
<div mat-dialog-actions [matTooltip]="(!form.valid || !dummyForm.valid)?'the form is not valid':''">
    <button [disabled]="!form.valid" *ngIf="edit" mat-button cdkFocusInitial (click)="submitForm()">submit</button>
    <button mat-button cdkFocusInitial *ngIf="!edit" (click)="edit = true">edit</button>
</div>