<div>
    <div cdkDropListGroup style="height:90vh; width: 10%; display: inline-block; vertical-align: top;">
        <mat-accordion cdkDropList (cdkDropListDropped)="dropStory($event)" [cdkDropListData]="api.stories">
            <mat-expansion-panel *ngFor="let story of api.stories" [ngStyle]="storyBoardStyle(story)" cdkDrag>
                <mat-expansion-panel-header>
                    <mat-panel-title>{{story.name}}</mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div style="width: 90%; display: inline-block;">
        <div cdkDropListGroup>
            <mat-accordion cdkDropList style="height:90vh; width: 33%; display: inline-block; vertical-align: top;"
                (cdkDropListDropped)="dropTask($event,0)" [cdkDropListData]="openDragList">
                <mat-expansion-panel *ngFor="let task of openDragList" [ngStyle]="taskBoardStyle(task)" cdkDrag
                    [style]="taskBoardStyle(task)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{task.description}}</mat-panel-title>
                        <mat-panel-description>
                            <mat-icon [matBadge]="task.person.length" matBadgeSize="small" matBadgeColor="warn">person
                            </mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p *ngFor="let person of api.persons | filter: 'id' : task.person">
                        {{person.firstName+ " " +person.lastName}}
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion cdkDropList style="height:90vh; width: 33%; display: inline-block; vertical-align: top;"
                (cdkDropListDropped)="dropTask($event,1)" [cdkDropListData]="inProgressDragList">
                <mat-expansion-panel *ngFor="let task of inProgressDragList" [ngStyle]="taskBoardStyle(task)" cdkDrag
                    [style]="taskBoardStyle(task)" (mouseenter )="selectedTask = task.id"
                    (mouseout)="selectedTask = null">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{task.description}}</mat-panel-title>
                        <mat-panel-description>
                            <mat-icon [matBadge]="task.person.length" matBadgeSize="small" matBadgeColor="warn">person
                            </mat-icon>
                        </mat-panel-description>

                    </mat-expansion-panel-header>
                    <p *ngFor="let person of api.persons | filter : 'id' : task.person">
                        {{person.firstName+ " " +person.lastName}}
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion cdkDropList style="height:90vh; width: 33%; display: inline-block; vertical-align: top;"
                (cdkDropListDropped)="dropTask($event,4)" [cdkDropListData]="doneDragList">
                <mat-expansion-panel *ngFor="let task of doneDragList" [ngStyle]="taskBoardStyle(task)" cdkDrag
                    [style]="taskBoardStyle(task)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{task.description}}</mat-panel-title>
                        <mat-panel-description>
                            <mat-icon [matBadge]="task.person.length" matBadgeSize="small" matBadgeColor="warn">person
                            </mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p *ngFor="let person of api.persons | filter : 'id' : task.person">
                        {{person.firstName+ " " +person.lastName}}
                    </p>
                </mat-expansion-panel>
            </mat-accordion>

        </div>
        <div cdkDropList>
            <button mat-fab color="pink" style="left:40%; bottom: 15%; top: auto; position: fixed;" cdkDrag
                cdkDragBoundary=".example-boundary" matTooltip="from previous sprint"
                (cdkDragReleased)="release($event,2)">
                <mat-icon [matBadge]="(inProgressDragList | filter : 'status': 2)?.length">assignment_late</mat-icon>
            </button>
            <button mat-fab color="lightblue" style="left:40%; bottom: 5%; top: auto; position: fixed;" cdkDrag
                cdkDragBoundary=".example-boundary" matTooltip="move to next sprint"
                (cdkDragReleased)="release($event,3)">
                <mat-icon [matBadge]="(inProgressDragList | filter : 'status' : 3).length">assignment_returned
                </mat-icon>
            </button>
            <button mat-fab color="lightblue" style="left:60%; bottom: 5%; top: auto; position: fixed;" cdkDrag
                cdkDragBoundary=".example-boundary" matTooltip="move to next sprint"
                (cdkDragReleased)="release($event,1)">

            </button>
        </div>
    </div>

</div>