<div *ngIf="api.stories">
    <div cdkDropListGroup style="height:90vh; width: 10%; display: inline-block; vertical-align: top;">
        <mat-accordion cdkDropList (cdkDropListDropped)="dropStory($event)" [cdkDropListData]="api.stories">
            <mat-expansion-panel *ngFor="let story of api.stories" [ngStyle]="storyBoardStyle(story)" cdkDrag>
                <mat-expansion-panel-header>
                    <mat-panel-title>{{story.name}}</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <button mat-button (click)="createTaskDialogue(story.id)" matTooltip="creat a task for this story">
                        <mat-icon>add_task</mat-icon>
                    </button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div style="width: 90%; display: inline-block;">
        <div cdkDropListGroup>
            <mat-accordion cdkDropList style="height:90vh; width: 33%; display: inline-block; vertical-align: top;"
                (cdkDropListDropped)="dropTask($event,0)" [cdkDropListData]="openDragList"
                [cdkDropListEnterPredicate]="dragListStatusExcludePredicate([4])" multi>
                <mat-expansion-panel *ngFor="let task of openDragList |filter : filterKey:filterValue:filterMap"
                    [ngStyle]="taskBoardStyle(task)" cdkDrag [cdkDragData]="task" [style]="taskBoardStyle(task)"
                    (cdkDragStarted)="dragTask($event)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{task.description}}</mat-panel-title>
                        <mat-panel-description>
                            <mat-icon [matBadge]="task.persons.length | zero2null" matBadgeSize="small"
                                matBadgeColor="primary" style="position: absolute; right:20%;">
                                person
                            </mat-icon>
                            <mat-icon *ngIf="task.issues.length>0" [matBadge]="task.issues.length | zero2null"
                                matBadgeSize="small" matBadgeColor="accent" style="position: absolute; right:10%;"
                                [style]="(task.issues | filter : ['commencement','duration','cost'] : [null])?.length>0?{color: 'OrangeRed'}:{}">
                                report_problem
                            </mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-action-row>
                        <button mat-button (click)="assignPersonDialogue(task.id)" matTooltip="assign developer">
                            <mat-icon>groups</mat-icon>
                        </button>
                        <button mat-button (click)="createIssueDialogue(task.id)" matTooltip="report issue">
                            <mat-icon>announcement</mat-icon>
                        </button>
                        <button mat-button (click)="taskDetailsDialogue(task.id)" matTooltip="view or edit details">
                            <mat-icon>preview</mat-icon>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-action-row>
                    <mat-list>
                        <mat-list-item *ngFor="let person of api.persons | filter: 'id' : task.persons">
                            <mat-icon>person_outline</mat-icon>{{person.firstName+ " " +person.lastName}}
                        </mat-list-item>
                    </mat-list>
                    <mat-accordion *ngIf="task.issues.length > 0">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Issues
                                    <mat-icon matBadgeColor="warn"
                                        *ngIf="(task.issues| filter :['commencement','duration','cost'] : [null]).length>0"
                                        style="position: absolute; right:10%; color:OrangeRed;"
                                        [matBadge]="(task.issues| filter :['commencement','duration','cost'] : [null])?.length | zero2null">
                                        live_help</mat-icon>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-list>
                                <mat-list-item *ngFor="let issue of task.issues">
                                    {{issue.description}}
                                    <button mat-button (click)="issueDetailsDialogue(task.id,issue.id)"
                                        style="position: absolute; right:5%;" matTooltip="view or edit details">
                                        <mat-icon
                                            [style]="(issue.commencement == null || issue.duration == null||issue.cost == null)?{color: 'OrangeRed'}:{}">
                                            preview</mat-icon>
                                        <mat-icon
                                            [style]="(issue.commencement == null || issue.duration == null||issue.cost == null)?{color: 'OrangeRed'}:{}">
                                            edit</mat-icon>
                                    </button>
                                </mat-list-item>
                            </mat-list>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion cdkDropList style="height:90vh; width: 33%; display: inline-block; vertical-align: top;"
                (cdkDropListDropped)="dropTask($event,1)" [cdkDropListData]="inProgressDragList"
                [cdkDropListEnterPredicate]="dragListStatusExcludePredicate([4])" multi>
                <mat-expansion-panel *ngFor="let task of inProgressDragList|filter : filterKey:filterValue:filterMap"
                    [ngStyle]="taskBoardStyle(task)" cdkDrag [cdkDragData]="task" [style]="taskBoardStyle(task)"
                    (cdkDragStarted)="dragTask($event)" (mouseenter)="selectedTaskId = task.id"
                    (mouseleave)="selectedTaskId = null">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{task.description}}</mat-panel-title>
                        <mat-panel-description>
                            <mat-icon [matBadge]="task.persons.length | zero2null" matBadgeSize="small"
                                matBadgeColor="primary" style="position: absolute; right:20%;">
                                person
                            </mat-icon>
                            <mat-icon *ngIf="task.issues.length>0" [matBadge]="task.issues.length | zero2null"
                                matBadgeSize="small" matBadgeColor="accent" style="position: absolute; right:10%;"
                                [style]="(task.issues | filter : ['commencement','duration','cost'] : [null])?.length>0?{color: 'OrangeRed'}:{}">
                                report_problem
                            </mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-action-row>
                        <button mat-button (click)="assignPersonDialogue(task.id)" matTooltip="assign developer">
                            <mat-icon>groups</mat-icon>
                        </button>
                        <button mat-button (click)="createIssueDialogue(task.id)" matTooltip="report issue">
                            <mat-icon>announcement</mat-icon>
                        </button>
                        <button mat-button (click)="taskDetailsDialogue(task.id)" matTooltip="view or edit details">
                            <mat-icon>preview</mat-icon>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-action-row>
                    <mat-list>
                        <mat-list-item *ngFor="let person of api.persons | filter: 'id' : task.persons">
                            <mat-icon>person_outline</mat-icon>{{person.firstName+ " " +person.lastName}}
                        </mat-list-item>
                    </mat-list>
                    <mat-accordion *ngIf="task.issues.length > 0">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Issues
                                    <mat-icon matBadgeColor="warn"
                                        *ngIf="(task.issues| filter :['commencement','duration','cost'] : [null]).length>0"
                                        style="position: absolute; right:10%; color:OrangeRed;"
                                        [matBadge]="(task.issues| filter :['commencement','duration','cost'] : [null])?.length | zero2null">
                                        live_help</mat-icon>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-list>
                                <mat-list-item *ngFor="let issue of task.issues">
                                    {{issue.description}}
                                    <button mat-button (click)="issueDetailsDialogue(task.id,issue.id)"
                                        style="position: absolute; right:5%;" matTooltip="view or edit details">
                                        <mat-icon
                                            [style]="(issue.commencement == null || issue.duration == null||issue.cost == null)?{color: 'OrangeRed'}:{}">
                                            preview</mat-icon>
                                        <mat-icon
                                            [style]="(issue.commencement == null || issue.duration == null||issue.cost == null)?{color: 'OrangeRed'}:{}">
                                            edit</mat-icon>
                                    </button>
                                </mat-list-item>
                            </mat-list>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion cdkDropList style="height:90vh; width: 33%; display: inline-block; vertical-align: top;"
                (cdkDropListDropped)="dropTask($event,4)" [cdkDropListData]="doneDragList" multi>
                <mat-expansion-panel *ngFor="let task of doneDragList|filter : filterKey:filterValue:filterMap"
                    [ngStyle]="taskBoardStyle(task)" cdkDrag [cdkDragData]="task" [style]="taskBoardStyle(task)"
                    (cdkDragStarted)="dragTask($event)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{task.description}}</mat-panel-title>
                        <mat-panel-description>
                            <mat-icon [matBadge]="task.persons.length | zero2null" matBadgeSize="small"
                                matBadgeColor="primary" style="position: absolute; right:20%;">
                                person
                            </mat-icon>
                            <mat-icon *ngIf="task.issues.length>0" [matBadge]="task.issues.length | zero2null"
                                matBadgeSize="small" matBadgeColor="accent" style="position: absolute; right:10%;">
                                report_problem
                            </mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-action-row>
                        <button mat-button (click)="assignPersonDialogue(task.id)" matTooltip="assign developer">
                            <mat-icon>groups</mat-icon>
                        </button>
                        <button mat-button (click)="taskDetailsDialogue(task.id)" matTooltip="view or edit details">
                            <mat-icon>preview</mat-icon>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-action-row>
                    <mat-list>
                        <mat-list-item *ngFor="let person of api.persons | filter: 'id' : task.persons">
                            <mat-icon>person_outline</mat-icon>{{person.firstName+ " " +person.lastName}}
                        </mat-list-item>
                    </mat-list>
                    <mat-accordion *ngIf="task.issues.length > 0">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Issues</mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-list>
                                <mat-list-item *ngFor="let issue of task.issues">
                                    {{issue.description}}
                                    <button mat-button (click)="issueDetailsDialogue(task.id,issue.id)"
                                        style="position: absolute; right:5%;" matTooltip="view or edit details">
                                        <mat-icon>preview</mat-icon>
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </mat-list-item>
                            </mat-list>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-expansion-panel>
            </mat-accordion>

        </div>
        <div cdkDropList>
            <button mat-fab color="white" style="left:38%; bottom: 2%; top: auto; position: fixed;"
                (click)="toggleFilter(null,['status'],[2])" class="dragDropButton" matTooltip="from previous sprint"
                (cdkDragReleased)="release($event,2)">
                <mat-icon style="color:lightcoral;"
                    [matBadge]="(inProgressDragList | filter : 'status': 2)?.length | zero2null" matBadgeColor="warn">
                    assignment_late</mat-icon>
            </button>
            <button mat-fab color="white" style="right:10%; bottom: auto; top: 1%; position: fixed;"
                (click)="toggleFilter('issues',['commencement','duration','cost'],[null])" class="dragDropButton"
                (cdkDragReleased)="release($event,2)" matTooltip="unsolved issue (click for hightlight)">
                <mat-icon style="color:OrangeRed;"
                    [matBadge]="(api.tasks | flatMap : 'issues' | filter :['commencement','duration','cost'] : [null])?.length | zero2null"
                    matBadgeColor="warn">
                    live_help</mat-icon>
            </button>
            <button mat-fab color="white" style="left:38%; bottom: 20%; top: auto; position: fixed;" cdkDrag
                (click)="toggleFilter(null,['status'],[3])" class="dragDropButton"
                matTooltip="move to next sprint (drag and drop to assign)" (cdkDragReleased)="release($event,3)">
                <mat-icon style="color:gold;"
                    [matBadge]="(inProgressDragList | filter : 'status' : 3)?.length | zero2null" matBadgeColor="warn">
                    assignment_returned
                </mat-icon>
            </button>
            <button mat-fab color="white" style="color:slategrey;"
                style="left:38%; bottom: 12%; top: auto; position: fixed;" cdkDrag class="dragDropButton"
                matTooltip="unset special status" (cdkDragReleased)="release($event,1)">
                <mat-icon>
                    assignment_turned_in
                </mat-icon>
            </button>
        </div>
    </div>

</div>