<div mat-dialog-content *ngIf="form && dummyForm">
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>First Name: </mat-label>
            <input type="text" matInput formControlName="firstName" [readonly]="!edit">
            <mat-error *ngIf="form.get('firstName').invalid">
                {{form.get('firstName').hasError('required')?'required':''}}
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Last Name: </mat-label>
            <input type="text" matInput formControlName="lastName" [readonly]="!edit">
            <mat-error *ngIf="form.get('lastName').invalid">
                {{form.get('lastName').hasError('required')?'required':''}}
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Email: </mat-label>
            <input type="text" matInput formControlName="email" [readonly]="!edit">
            <mat-error *ngIf="form.get('email').invalid">
                {{form.get('email').hasError('required')?'required':''}}
            </mat-error>
            <mat-error *ngIf="form.get('email').invalid">
                {{form.get('email').hasError('pattern')?'not a valid email format':''}}
            </mat-error>
        </mat-form-field>
    </form>
    <form [formGroup]="dummyForm">
        <mat-form-field *ngIf="!isNew">
            <mat-label>ID: </mat-label>
            <input type="text" matInput [readonly]="true" formControlName="id">
        </mat-form-field>
    </form>
</div>
<div *ngIf="form && dummyForm" mat-dialog-actions
    [matTooltip]="(!form.valid || !dummyForm.valid)?'the form is not valid':''">
    <button [disabled]="!form.valid" *ngIf="edit" mat-button cdkFocusInitial (click)="submitForm()">submit</button>
    <button mat-button cdkFocusInitial *ngIf="!edit"
        (click)="edit = true; form.enable({ onlySelf: true })">edit</button>
</div>