<div mat-dialog-content *ngIf="form && dummyForm">
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Name: </mat-label>
            <input type="text" matInput formControlName="name" [readonly]="!edit">
            <mat-error *ngIf="form.get('name').invalid">
                {{form.get('name').hasError('required')?'required':''}}
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Priority: </mat-label>
            <input type="text" matInput formControlName="priority" [readonly]="!edit">
            <mat-error *ngIf="form.get('priority').invalid">
                {{form.get('priority').hasError('required')?'required':''}}
            </mat-error>
            <mat-error *ngIf="form.get('priority').invalid">
                {{form.get('priority').hasError('pattern')?'Please input a non-negative number':''}}
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Est. size:</mat-label>
            <input type="text" matInput formControlName="estimatedSize" [readonly]="!edit">
            <mat-error *ngIf="form.get('estimatedSize').invalid">
                {{form.get('estimatedSize').hasError('required')?'required':''}}
            </mat-error>
            <mat-error *ngIf="form.get('estimatedSize').invalid">
                {{form.get('priority').hasError('pattern')?'Please input a non-negative number':''}}
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Acc. test:</mat-label>
            <input type="text" matInput formControlName="acceptanceTest" [readonly]="!edit">
            <mat-error *ngIf="form.get('acceptanceTest').invalid">
                {{form.get('acceptanceTest').hasError('required')?'required':''}}
            </mat-error>
        </mat-form-field>
    </form>
    <form [formGroup]="dummyForm">
        <mat-form-field *ngIf="!isNew">
            <mat-label>ID: </mat-label>
            <input type="text" matInput [readonly]="true" formControlName="id">
        </mat-form-field>
        <br>
        <mat-form-field *ngIf="!isNew">
            <mat-label>Creation Date: </mat-label>
            <input type="text" matInput [matDatepicker]="picker" formControlName="creation" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker" disabled></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [matTooltip]="(!form.valid || !dummyForm.valid)?'the form is not valid':''">
    <button [disabled]="!form.valid" *ngIf="edit" mat-button cdkFocusInitial (click)="submitForm()">submit</button>
    <button mat-button cdkFocusInitial *ngIf="!edit"
        (click)="edit = true; form.enable({ onlySelf: true })">edit</button>
</div>